*{
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #f1f1f1;
    padding:30px;
    text-align:center;
    font-size: 35px;
}
.column{
    border:1px solid rgba(0,0,0,.5);
    background-color:#aaa;
    float: left;
    /* width: 33.3%; */
    padding:10px;
    height:300px;
}
.left,.right{
    width:20%;
}
.middle{
    width:60%;
}
.footer{
    background-color: #f1f1f1;
    padding:10px;
    text-align:center;
}